{% extends "layouts/base-free-access.html" %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">
            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <div class="main-body">
                        <div class="page-wrapper">
                                                                                    <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>End User License Agreement (EULA) - Umowa licencyjna na użytkowanie modułów obliczeniowych aplikacji online Builder Script bez uiszczania opłaty licencyjnej</h5>
                                        </div>
                                        <div class="card-body">
                                            <p>§ 1 Postanowienia ogólne</p>
                                            <ol>
                                                <li>Niniejsza EULA dotyczy korzystania przez Państwa z modułów obliczeniowych zawartych w aplikacji online Builder Script bez uiszczania opłaty licencyjnej. Korzystanie z serwisu Builder Script bez uiszczenia opłaty licencyjnej może odbywać się wyłącznie przez odpowiednio wykwalifikowane i doświadczone osoby posiadające niezbędną wiedzę inżynierską.</li>
                                                <li>Nie oświadczam i nie gwarantuję, iż Builder Script jest wolny od wszelki przeoczeń i błędów. Dlatego serwis nigdy nie zastąpi obliczeń i weryfikacji wykonanych przez specjalistę - inżyniera. W związku z tym wyniki należy konsultować ze specjalistą w dziedzinie budownictwa.</li>
                                                <li>Builder Script jest przeznaczony wyłącznie do użytku przez przedsiębiorstwa.</li>
                                                <li>Aplikacja online Builder Script użytkowana zgodnie z niniejszą umową licencyjną ma na celu wyłącznie ułatwienie procesu projektowania elementów konstrukcyjnych w formie wykonywania wstępnych obliczeń.</li>
                                                <li>Wiarygodność wyników uzyskanych poprzez zastosowanie modułów obliczeniowych Builder Script powinna każdorazowo zostać zweryfikowana stosując alternatywne metody obliczeń. Weryfikacja powinna zostać przeprowadzona przez specjalistę - inżyniera zgodnie z § 1 punkt 2. </li>
                                            </ol>
                                            <p>§ 2 Definicje</p>
                                            <p>W niniejszej umowie licencyjnej użyto następująco zdefiniowane terminy:</p>
                                            <ul>
                                                <li>EULA: End User License Agreement</li>
                                                <li>Specjalista: inżynier, technik budownictwa, inżynier budowlany - osoba odpowiednio wykwalifikowana i doświadczona, który posiada niezbędną wiedzę inżynierską.</li>
                                                <li>Aplikacja online: oprogramowanie typu użytkownik-serwer-aplikacja dostępne poprzez przeglądarkę internetową.</li>
                                                <li>Przedsiębiorstwo: wyodrębniona prawnie i ekonomicznie jednostka gospodarcza.</li>
                                                <li>Strona: użytkownik aplikacji online oraz Builder Script</li>
                                            </ul>
                                            <p>§ 3 Oświadczenia stron</p>
                                            <ol>
                                                <li>Jeśli podczas korzystania z aplikacji online Builder Script odkryją Państwo błąd lub inną wadę, należy o tym powiadomić właściciela Builder Script. Dane kontaktowe znajdują się na stronie głównej.</li>
                                                <li>Użytkownik ponosi wyłączną odpowiedzialność za dokładność i kompletność danych i informacji wprowadzonych do serwisu Builder Script oraz ich prawidłowość, włącznie z interpretacją wyników podanych przez Builder Script.</li>
                                                <li>Niniejszym oświadczają Państwo i gwarantują, że wszystkie prace projektowe będą prowadzone wyłącznie pod Państwa imieniem. Wszystkie obliczenia oraz weryfikacje zostaną przedłożone wyłącznie w Państwa imieniu, właściciel Builder Script nie będzie występował w charakterze specjalisty - inżyniera przed organami administracji architektoniczno-budowlanej i ich przedstawicielami.</li>
                                            </ol>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- [ Main Content ] end -->
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Polityka cookies</h5>
                                        </div>
                                        <div class="card-block">
                                            <p>Niniejsza strona korzysta z plików cookies, które zostaną zamieszczone w
                                                Państwa urządzeniu - komputerze, laptopie, smartfonie. Wykorzystuję pliki
                                                cookie do identyfikacji użytkownika, aby oferować możliwość zapisywania
                                                wcześniej wykonanych obliczeń. Strona internetowa może funkcjonować
                                                poprawnie bez plików cookies, natomiast nie będzie możliwy dostęp do
                                                wcześniej wykonanych obliczeń w poszczególnych modułach.</p>
                                            <p>Mogą Państwo samodzielnie i w każdym czasie zmienić ustawienia dotyczące
                                                plików cookies, określając warunki ich przechowywania i uzyskiwania
                                                dostępu przez pliki cookies do urządzenia użytkownika. Zmiany ustawień
                                                można dokonać za pomocą ustawień przeglądarki internetowej. Ustawienia
                                                te mogą zostać zmienione w taki sposób, aby blokować automatyczną
                                                obsługę plików cookies bądź informować o każdorazowym zamieszczeniu
                                                cookies na Państwa urządzeniu. Szczegółowe informacje o możliwości i
                                                sposobach obsługi plików cookies dostępne są w ustawieniach
                                                przeglądarki internetowej.</p>
                                            <p>Mogą Państwo w każdej chwili usunąć pliki cookies, korzystając z dostępnych
                                                funkcji w przeglądarce internetowej, której Państwo używają.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- [ Main Content ] end -->

{% endblock content %}
<!-- Edited by Pawel -->