{% extends "layouts/base-free-access.html" %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container aut-bg-img" style="background-image: url('/static/assets/images/calculator-background.jpg');
            height: 100%">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">
            <div class="row">

              <!-- [ Hello card ] start -->
              <div class="col-xl-4 col-md-6 mx-auto">
                <div class="text-center">
                  <img class="BS_logo_p" src="/static/assets/images/BuilderScript-logo.png" alt="BS_Logo">
                </div>
                <div class="card">
                  <div class="card-block border-bottom">
                    <div class="row d-flex align-items-center">
                      <div class="col-auto">
                        <i class="fab fa-wpexplorer text-c-purple f-50"></i>
                      </div>
                      <div class="col">
                        <h3 class="f-w-300"><strong>235</strong></h3>
                        <span class="d-block text-uppercase">ŁĄCZNA ILOŚĆ OPRACOWANYCH <br>ALGORYTMÓW OBLICZENIOWYCH<br></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- [ Hello card ] end -->

              <!-- [ Main Content ] end -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ Main Content ] end -->

  {% endblock content %}
  <!-- Edited by Pawel -->