{% extends "layouts/base-fullscreen.html" %}

{% block title %} 403 Page {% endblock %}

{% block content %}   
    <meta http-equiv="refresh" content="3; URL={{ url_for('home_blueprint.home_page') }}" />
    <div class="auth-wrapper">
        <div class="auth-content">
            <div class="auth-bg">
                <span class="r"></span>
                <span class="r s"></span>
                <span class="r s"></span>
                <span class="r"></span>
            </div>
            <div class="card">
                <div class="card-body text-center">
                    <div class="mb-4">
                        <i class="feather x-circle"></i>
                    </div>
                    <h2 class="mb-4">403</h2>
                    <h3 class="mb-4">Ups! Dostęp zabroniony...</h3>
                    <h2 class="mb-4"></h2>
                    <p class="mb-0 text-muted">Jeżeli nie zostaniesz przekierowany na stronę główną w przeciągu 3 sekund, kliknij w link poniżej.</p>
                    <br/>

                    <span class="mb-0 text-muted">
                        Powrót - <a href="{{ url_for('home_blueprint.home_page') }}">Strona główna</a>
                    </span>

                </div>
            </div>
        </div>
    </div>

{% endblock content %}
<!-- Edited by Pawel -->
