{% extends "admin/base-admin.html" %}

{% block content %}

<!-- [ Main Content ] start -->
<div class="pcoded-main-container aut-bg-img" style="background-image: url('/static/assets/images/python.jpg');
            height: 100%">
  <div class="pcoded-wrapper">
    <div class="pcoded-content">
      <div class="pcoded-inner-content">
        <div class="main-body">
          <div class="page-wrapper">
            <div class="row">

              <!-- [ Hello card ] start -->
              <div class="col-xl-4 col-md-6 mx-auto">
                <div class="text-center">
                  <img class="BS_logo_p" src="/static/assets/images/BuilderScript-logo.png" alt="BS_Logo">
                </div>
              </div>
              <!-- [ Hello card ] end -->

              <!-- [ Main Content ] end -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- [ Main Content ] end -->

  {% endblock content %}
  <!-- Edited by Pawel -->